**/node_modules
.pnpm-store
.git
.github
.idea
.vscode
.codex
.agents
.aws
**/.env
**/.env.*
**/*.pem
**/*.key
.npmrc
dist
build
coverage
.nyc_output
test
**/*spec.ts
jest.config.ts
**/*.tsbuildinfo
**/*.log
logs
.cache
.temp
.tmp
tmp
pids
*.pid
*.pid.lock
*.code-workspace
.DS_Store
Thumbs.db
README.md
compose*.yaml
compose*.yml
